table {
	color : white;
        margin-top:30px;
        text-align: right;
}

body {
	background-color: #4E6EFF;
	padding : 30px;
        text-align: center;
}

h1 {
	text-align: center;
	color: white;
	font-size: 25px;        
}